//====================================================================================================
.footer {
	padding: toRem(20) 0;
    min-height: toRem(100);
    display: flex;
    align-items: center;
	&__container {
        max-width: none;
	}
	&__menu {
	}
}
.menu-footer {
	&__list {
		display: flex;
		gap: toRem(30);
		flex-wrap: wrap;
	}
	&__item {
	}
	&__link {
	}
}
//====================================================================================================
